{% extends "layer.html" %}
{% block body %}
  <header class="masthead2">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="site-heading">
            <!-- <img src="img/23.jpg"/> -->
            <div class="text-center" style="padding: 35px;">
              <img src="img/23.jpg" align="left" class="img-thumbnail" alt="Responsive image" style="width: 20px; min-width: 313px; margin-top: 25px;">
              <img src="img/23.jpg" align="center" class="img-thumbnail" alt="Responsive image" style="width: 20px; min-width: 313px; margin-top: 25px;">
              <img src="img/23.jpg" align="right" class="img-thumbnail" alt="Responsive image" style="width: 20px; min-width: 313px; margin-top: 25px;">
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </header>
  <div class="col-lg-10 col-md-10 mx-auto">
    <div class="embed-responsive embed-responsive-21by9">
      <iframe class="embed-responsive-item" src="video/Astronauts.mp4"></iframe>
    </div>
  </div>
{% endblock %}